* text eol=lf
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.less text
*.scss text
*.css text
*.vue text
*.html text
*.md text
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
